@charset "UTF-8";
/* CSS Document */

/*

>>>>>> TABLE OF CONTENTS <<<<<<

1.0 - TYPOGRAPHY
-------------------------

1.1 - Headings
1.2 - Body Copy
1.3 - Buttons
1.4 - Forms
1.5 - Lists
1.6 - Tables

2.0 - NAVIGATION MENUS
-------------------------

2.1 - Main
2.2 - Sub
2.3 - Footer

3.0 - CONTENT
-------------------------

3.1 - Site Structure
3.2- Site Header
3.3- Site Footer

4.0 - MEDIA
-------------------------

5.0 - UTILIY
-------------------------

5.1 - Text Sizes
5.2 - Colors
5.3 - Alignments

*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LARGE DISPLAY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>> 1.0 TYPOGRAPHY <<<<<< */

/* 1.1 Headings */

h2 {
	font: 600 2rem 'Work Sans', sans-serif;
	color: #0a65da;
	padding: 1.45rem 0;
}

h3 {
	font: 400 1rem 'Work Sans', sans-serif;
}

/* 1.2 Body Copy */

#hero-callout {
	font: 600 4.5rem 'Work Sans', sans-serif;
	letter-spacing: 1px;
	margin: 23px 0;
}

#hero-p {
	font: 400 1.25rem 'Work Sans', sans-serif;
	line-height: 1.45rem;
}

#our-work p {
	font: 300 1rem 'Work Sans', sans-serif;
}

#our-people-p {
	font: 400 1.25rem 'Work Sans', sans-serif;
}

.profile-p {
	font: 300 0.75rem 'Work Sans', sans-serif;
}

footer .col-10-12 {
	font: 300 0.75rem 'Work Sans', sans-serif;
	line-height: 2px;
	margin-top: 1.5rem;
}

/* 1.3 Buttons */

nav li a {
	font: 600 1rem 'Work Sans', sans-serif;
	margin-right: 50px;
}

nav li:last-child a, #hero-cta li:last-child a {
	margin-right: 0;
}

ul, nav li:last-child a, #hero-cta li:last-child a {
	 padding: 0;
 }

nav li a:hover, #hero-cta li a:hover {
	border-bottom: 0.15rem solid #fff;
	padding-bottom: 0.15rem;
}

#hero-cta li a {
	font: 600 1rem 'Work Sans', sans-serif;
	margin-right: 45px;
}

/* 1.4 Forms */
/* 1.5 Lists */
/* 1.6 Tables */

/* >>>>>> 2.0 NAVIGATION MENUS <<<<<< */

/* 2.1 Main */

#our-people .col-1-3, #our-people .col-1-2 {
	text-align: center;
}
 
 .twitter-icon {
    background: url(../img/twitter-icon.png) no-repeat;
    padding-right: 45px;
	width: 45px;
    height: 45px;
}

.twitter-icon:hover {
	background-position: 0 -45px;
}

 .facebook-icon {
    background: url(../img/facebook-icon.png) no-repeat;
    padding-right: 45px;
    width: 45px;
	height: 45px;
}

.facebook-icon:hover {
	background-position: 0 -45px;
}

/* 2.2 Sub */
/* 2.3 Footer */

/* >>>>>> 3.0 CONTENT <<<<<< */

/* 3.1 Site Structure */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Use pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.wrapper {
	width: 65%; /* Get your original percentage as close to 1024px as possible */
	margin: 0 auto;
}

.block-center {
	float: none;
	margin: 0 auto;
}

#our-people h2 {
	padding-bottom: 0rem;
}

#our-people {
	background-color: #fafafa;
	padding-bottom: 8rem;
	width: 100%;
}

#our-people-overview {
	padding-top: 1rem;
	margin-bottom: 5rem;
}

#our-work .col-1-4 {
	padding-bottom: 3rem;
}

footer {
	background-color: #0a65da; /* Class for the color? */
	padding-top: 2.5rem;
}

/* 3.2 Site Header */
/* 3.3 Site Footer */

/* >>>>>> 4.0 MEDIA <<<<<< */

img {
	max-width: 100%; /* Don't go over 1366 pixels for image width */
}

#hero {
  	background: url(../img/hero-img.jpg) no-repeat center center;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	-o-background-size: cover;
  	-webkit-background-size: cover;
  	background-size: cover;
  	padding: 45px 0 120px;
}

.circle {
	-moz-border-radius: 87.5px;
	-ms-border-radius: 87.5px;
	-o-border-radius: 87.5px;
	-webkit-border-radius: 87.5px;
	border-radius: 87.5px;
	width: 175px;
	height: 175px;
}

#john-doe {
	background: url(../img/john-doe.jpg) no-repeat center -10px;
	-moz-background-size: contain;
  	-ms-background-size: contain;
  	-o-background-size: contain;
  	-webkit-background-size: contain;
  	background-size: contain;
	background-size: 180px;
}

#jane-doe {
	background: url(../img/jane-doe.jpg) no-repeat center -10px;
	-moz-background-size: contain;
  	-ms-background-size: contain;
  	-o-background-size: contain;
  	-webkit-background-size: contain;
  	background-size: contain;
	background-size: 180px;
}

#john-smith {
	background: url(../img/john-smith.jpg) no-repeat center -30px;
	-moz-background-size: contain;
  	-ms-background-size: contain;
  	-o-background-size: contain;
  	-webkit-background-size: contain;
  	background-size: contain;
	background-size: 180px;
}

#mary-smith {
	background: url(../img/mary-smith.jpg) no-repeat center -10px;
	-moz-background-size: contain;
  	-ms-background-size: contain;
  	-o-background-size: contain;
  	-webkit-background-size: contain;
  	background-size: contain;
	background-size: 180px;
}

/* >>>>>> 5.0 UTILITY <<<<<< (ONLY FOR CLASSES THAT ARE DOING ONE TASK) */

/* 5.1 Text Sizes */

h2, #hero-callout {
	text-transform: uppercase;
}

nav li a, #hero-cta li a {
	text-decoration: none;
}

/* 5.2 Colors */

nav li a, #hero-callout, #hero-p, #hero-cta li a, footer .col-10-12 {
	color: #fff;
}

/* 5.3 Alignments */

#hero, nav ul, .p-right {
	text-align: right;
}

h2, h3, .col-5-6 p, #our-work p, .profile-p, footer .col-10-12, #our-work .col-1-4  {
	text-align: center;
}

nav li, nav li a, #hero-cta li, #our-people ul li, #our-people .col-1-3 .circle, #our-people .col-2-3 ul, .twitter-icon, .facebook-icon {
	 display: inline-block;
 }
 
h1, ul {
	margin: 0;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> END LARGE DISPLAY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COLUMN WIDTHS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ~~~ ONE COLUMN ~~~ */

.col-1-1 {
	width: 100%;
}

/* ~~~ TWO COLUMNS ~~~ */

.col-1-2 {
	width: 50%;
}

/* ~~~ THREE COLUMNS ~~~ */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

/* ~~~ FOUR COLUMNS ~~~ */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* ~~~ FIVE COLUMNS ~~~ */

.col-1-5 {
	width: 20%;
}

.col-4-5 {
	width: 80%;
}

/* ~~~ SIX COLUMNS ~~~ */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* ~~~ SEVEN COLUMNS ~~~ */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* ~~~ EIGHT COLUMNS ~~~ */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/* ~~~ NINE COLUMNS ~~~ */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* ~~~ TEN COLUMNS ~~~ */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}


/* ~~~ ELEVEN COLUMNS ~~~ */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* ~~~ TWELVE COLUMNS ~~~ */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SMALL DISPLAY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 480px) {
	
/* >>>>>> 1.0 TYPOGRAPHY <<<<<< */
/* 1.1 Headings */

h3 {
	font-size: 1.45rem;
	font-weight: 700;
}

#our-people h3 {
	font-weight: 300;
	margin: 0;
}

/* 1.2 Body Copy */

#hero-callout {
	font-size: 1.95rem;
	text-align: center;
}

#hero-p {
	text-align: center;
}

#our-work p, #our-people p {
	font-size: 1.25rem;
}

/* 1.3 Buttons */
/* 1.4 Forms */
/* 1.5 Lists */
/* 1.6 Tables */

/* >>>>>> 2.0 NAVIGATION MENUS <<<<<< */
/* 2.1 Main */

ul {
	margin: 1.5rem 0 2rem;
}

#hero-cta {
	margin-top: 2rem;
}

/* 2.2 Sub */
/* 2.3 Footer */

/* >>>>>> 3.0 CONTENT <<<<<< */
/* 3.1 Site Structure */

.wrapper {
	width: 85%;
}

h1 {
	padding-top: 1.5rem;
}

.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-5-6 {
	width: 100%;	
}

.col-1-10 {
	width: 33.33%;
}

.logo, footer div:last-child, nav, header div.f-right { 
	float: none;
	margin: 0 auto;
}

body, #hero, nav ul {
	text-align: center;
}

#our-people {
	padding-bottom: 0rem;
}

footer {
	padding: 4rem 0 5rem;
}

/* 3.2 Site Header */
/* 3.3 Site Footer */

/* >>>>>> 4.0 MEDIA <<<<<< */

#hero {
	padding: 5px 0 65px;
}

.col-1-10 img {
	display: inline-block;
}

/* >>>>>> 5.0 UTLITY <<<<<< */
/* 5.1 Text Sizes */
/* 5.2 Colors */
/* 5.3 Alignments */

#hero ul {
	text-align: center;
}

}