@charset "UTF-8";
/* CSS Document */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LARGE SCREEN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 65%; /* Get your original percentage as close to 1024px as possible */
	background-color: #302F2F;
	margin: 0 auto;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

img {
	max-width: 100%; /* Don't go over 1366 pixels for image width */
}

figcaption {
	font-family: 'Avenir';
	color: #fff;
}

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Using pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.blue {
	background-color: #5f64c0;
	height: 50px; /* 
	
	By default this will be 100% of its parent
	
	To apply a background color to a column you need to place a div within that column 
	and apply the background color to that div inside so that a gap is created 
	
	*/
}

.green {
	background-color: #75E593;
	height: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ONE COLUMN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-1 {
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWO COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-2 {
	width: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ THREE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOUR COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FIVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-5 {
	width: 20%;
}

.col-4-5 {
	width: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SIX COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ EIGHT COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NINE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ELEVEN COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ TWELVE COLUMNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SMALLER SCREEN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 480px) {
	
.wrapper {
	width: 85%;
}

.col-1-4:nth-child(2), .col-1-6:nth-child(even), .col-1-6.col-sm, .col-1-7, 
.col-1-8:nth-child(even), .col-1-8.col-sm, .col-1-9:nth-child(3), 
.col-1-9:nth-child(6), .col-1-9.col-sm, .col-1-10:nth-child(even), 
.col-1-10.col-sm, .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8), .col-10-11, 
.col-1-12.col-sm {
	padding-right: 0
}

.col-1-4, .col-1-6, .col-1-8, .col-1-10 {
	width: 50%;
}

.col-1-9 {
	width: 33.33%
}

.col-1-4.col-sm, .col-1-12 {
	width: 25%;
}

.col-1-6.col-sm, .col-5-6, .col-1-7, .col-6-7, .col-1-8.col-sm, .col-7-8.col-sm, 
.col-1-9.col-sm, .col-8-9, .col-1-10.col-sm, .col-9-10, .col-1-11, .col-10-11, .col-1-12.col-sm, .col-11-12  {
	width: 100%;
}

}

/* ^ Kind of acts like a hover state

The media is causing the break point

This is a very common break point

iPhone: 320px wide
Android: 420px wide
Tablets: 768px wide

On mobile .col-1-7 width needs to be 100%

On mobile .col-1-8 width needs to be 25%, 50%

 */
 
/*

@media (max-width: 420px) {
	
	.wrapper {
		width: 95%;
	}
}

Don't worry about this for now!

*/ 


